<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Receta ensalada de papa</h1>
    <p>Esta receta es al estilo americano</p>
    <hr>
    <h2>Lista de ingredientes</h2>
    <ul>
        <li>1,5 kg de papas (patatas) rojas o amarillas</li>
        <li>3 huevos</li>
        <li>3/4 taza de mayonesa</li>
        <li>2 cuch. de mostaza Dijon</li>
        <li>1/2 taza de cebolla roja picada</li>
        <li>1/2 taza de apio picado</li>
        <li>1/2 taza de aceitunas verdes en rodajas</li>
        <li>2 cucharadas de vinagre blanco</li>
        <li>1 cucharadita de azúcar</li>
        <li>Sal y pimienta a gusto</li>
        <li>Perejil fresco picado u hojas de albahaca para decorar (opcional)</li>
    </ul>
    <h2>Cómo preparar la ensalada</h2>
    <ol>
        <li>Lavar y cortar las papas en cubos de aproximadamente 2 cm. Colocar en una olla grande con agua fría y sal. Cocinarlas a fuego medio hasta que estén tiernas pero firmes, de 10 a 15 minutos. </li>
        <li>Hervir los huevos en una olla aparte. Luego pelarlos, picarlos en trozos pequeños y reservar. Una vez que las papas estén listas, escurrir y dejar enfriar.</li>
        <li>En un bol grande, mezclar mayonesa, mostaza, cebolla picada, apio, aceitunas, vinagre y azúcar. Salpimentar a gusto y mezclar bien. Sumar las papas cocidas y los huevos picados a la mezcla. Revolver suavemente.</li>
        <li>Cubrir el bol con papel film y refrigerar la ensalada de papa durante al menos 1 hora. Antes de servir, espolvorear perejil fresco picado por encima o poner hojas de albahaca fresca como decoración (opcional).</li>
        <br>
        <a target="_blank" href="https://www.paulinacocina.net/ensalada-de-papa-fria/30978">
            Leer esta receta en <strong>Paulina Cocina</strong>
        </a>
        <br>
        <a target="_blank" href="panDulce.html">
            Leer receta de <strong>Pan Dulce</strong>
        </a>
        <br>
        <a href="../../index.html">
            <strong>Volver a inicio</strong>
        </a>
        
</body>
</html>