<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/style.css">
</head>
<body>
    <h1 class="titulo">Receta Pan Dulce con chips de chocolate</h1>
    <img src="../img/pan-dulce-LJHGY4TR3ZDH5IPYNWFWO7V6HQ.avif" width="500" height="250" alt="">
    <p>Una receta ideal para compartir en familia</p>
    <hr>
    <h2 class="subtitulo">Lista de ingredientes</h2>
    <h3>Para la fermentación</h3>
    <ul>
        <li>4 cdas Harina 0000</li>
        <li>2 cdas Azúcar blanca</li>
        <li>1/4 taza Leche tibia</li>
        <li>60 gs Levadura fresca</li>
    </ul>
    <h3>Para la masa</h3>
    <ul>
        <li>1 kg Harina 000</li>
        <li>4 Huevos</li>
        <li>400 cc Leche tibia</li>
        <li>2 cdita Sal fina</li>
        <li>120 gs Azúcar blanca</li>
        <li>160 gs Manteca pomada</li>
        <li>2 cditas Esencia de vainilla</li>
        <li>Ralladura de un limón o naranja</li>
        <li>Esencia de Azahar (para dale ese gusto a pan dulce)</li>
    </ul>
    <h3>Para el relleno</h3>
    <ul>
        <li>300gr de chips de chocolate</li>
    </ul>
    <h3>Para el glaseado</h3>
    <ul>
        <li>2 claras de huevo</li>
        <li>Cant. necesaria de azúcar impalpable</li>
    </ul>
    <h2 class="subtitulo">Paso a paso</h2>
    <ol type="I">
        <li>Para el fermento: En un bol agregar los ingredientes, recordá que la leche debe estar tibia ni fría ni caliente, mezclar bien hasta mezclar todo e unir y dejar descansar tapándolo con una tapa o reparador hasta que firmen esas burbujas. Unos 10 a 15 minutos.</li>
        <li>Para la masa: en un bol agregar la harina con el azúcar, la ralladura de limón y mezclar bien hasta unir todo, hacer una corona y en los bordes echarle la sal, en el centro agregar los huevos, la leche tibia, la vainilla, la manteca pomada y la fermentación. Ir mezclando de a poco hasta unir la masa.</li>
        <li>Si vez que la masa se te pega un poco, agregarle una cucharada más de harina, espolvorear la mesa y amasar la masa durante unos 5 minutos y luego dejarla descansar tapar con reparador limpio y dejar hasta que duplique su volumen.</li>
        <li>Una vez que se elevó la masa espolvorear la mesa con harina y desgasificar para sacarle el exceso de aire que acumuló la masa. Separa la masa en bollos de 1/2 kilo (en un kilo te salen 4 pan dulces).</li>
        <li>Agarramos uno de los bollos y estiramos en forma rectangular, y agregamos un poco de chispitas de chocolate aplastamos un poco y enrollamos como si fuera pionono e ir aplastando un poco, luego amasar bien para que se una las chispitas con la masa.</li>
        <li>Luego que hagamos esto con los 4 bollos, formamos un bollo bien redondo y lo vertemos en los moldes de pan dulce en mi casa es de 1/2 LG cada uno, te van a quedar como en la foto, dejamos que leuden durante 1hs a 1:30hs masomenos tapados con un re pasador.</li>
        <li>Nota: media hora antes de que los panes hayan leudado precalienta el horno con ambas varillas a 180°c. Una vez listo vertemos nuestro pan dulce al horno durante 45 a 50minutos aproximadamente.</li>
        <li>Pasado los 45 o 47 minutos apagamos el horno y dejamos que se pongan tibios mientras preparamos el galseado</li>
        <li>Para el glaseado: en un bol más chico agregar las claras y mezclar un poco e ir incorporando de cucharadas y batir bien hasta conseguir la consistencia perfecta de galseado..
            Cubrir por encima de nuestros pan dulce y desfrutar como más te guste.</li>
        <li>Nota: si te gusta el pan dulce más.seco lo podés dejar 5 minutos más en el horno!</li>
        <br>
        <iframe width="500" height="250" src="https://www.youtube.com/embed/5SK3pWOK14k" title="Como hacer PAN DULCE casero en 4 pasos / Recetas navideñas fáciles - Paulina Cocina" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <br>
        <a target="_blank" href="https://cookpad.com/ar/recetas/15783476-pan-dulce-con-chips-de-chocolate-casero">
            Leer esta receta en <em>Cookpad</em>
        </a>
        <br>
        <a target="_blank" href="ensaladaDePapa.html">
            Leer receta de <em>Ensalada de papa</em>
        </a>
        <br>
        <a href="../../index.html">
            <strong>Volver a inicio</strong>
        </a>

    </ol>
</body>
</html>